body
{
	background: #000;
	background-position: right bottom;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

div#wrapper
{
	border: solid 0px #fff;
	width: 635px;
	margin: 15 5 0 5;
}

table
{
	font-family: Tahoma;
	font-size: 10px;
	color: #fff;
}

table .logo
{
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	width: 147px;
	height: 118px;
}

table .navigatae
{
	width: 488px;
	height: 118px;
}
.Text
{
	font-family: Tahoma, Arial, Verdana, Sans-Serif;
	font-size: 9px;
	font-weight:normal;
}
.BigText
{
	font-family: Tahoma, Arial, Verdana, Sans-Serif;
	font-size: 10px;
	font-weight:normal;
}

.TableBorders
{
	background-color: transparent;
	border-left: solid 1px #ffffff;
	border-top: solid 1px #ffffff;
	border-right: solid 1px #ffffff;
	border-bottom: solid 1px #ffffff;
}

.LineUnder
{
	border-bottom: solid 1px #ffffff;
}

.SectionHeader
{
	font-size: 12px;
	font-family: Tahoma, Arial, Verdana, Sans-Serif;
	font-weight: bold;
}

.SectionHeaderShaded
{
	font-size: 12px;
	font-family: Tahoma, Arial, Verdana, Sans-Serif;
	font-weight: bold;
	color :Black;
	background-color:White
}

.SectionHeaderShadedSmall
{
	font-size: 11px;
	font-family: Tahoma, Arial, Verdana, Sans-Serif;
	font-weight: bold;
	color :Black;
	background-color:White
}

.SectionHeaderBig
{
	font-size: 12px;
	font-family: Tahoma, Arial, Verdana, Sans-Serif;
	text-decoration: underline;
	font-weight: bold;
}

.SectionHeaderBigBrown
{
	font-size: 14px;
	font-family: Tahoma, Arial, Verdana, Sans-Serif;
	color : #F7941D;
	text-decoration: underline;
	font-weight: bold;
}
.SectionHeaderBigWhite
{
	font-size: 14px;
	font-family: Tahoma, Arial, Verdana, Sans-Serif;
	color :White;
	text-decoration: underline;
	font-weight: bold;
}
.SectionHeaderBigBrownNoLine
{
	font-size: 12px;
	font-family: Tahoma, Arial, Verdana, Sans-Serif;
	color : #F7941D;
	font-weight: bold;
}
.SectionHeaderBigWhiteNoLine
{
	font-size: 12px;
	font-family: Tahoma, Arial, Verdana, Sans-Serif;
	color : White;
	font-weight: bold;
}

.PageHeader
{
	font-size: 14px;
	font-family: Tahoma, Arial, Verdana, Sans-Serif;
	text-decoration: underline;
	font-weight: bold;
}

.PageHeaderBrown
{
	font-size: 14px;
	font-family: Tahoma, Arial, Verdana, Sans-Serif;
	color : #F7941D;
	font-weight: bold;
}

.LabelsBrown
{
	font-size: 9px;
	font-family:  Tahoma, Verdana, Sans-Serif;
	font-weight: bold;
	color : #F7941D;
}

.SectionHeaderBigNoLine
{
	font-size: 12px;
	font-family: Tahoma, Arial, Verdana, Sans-Serif;
	font-weight: bold;
}

.SectionHeaderBigNoLineShaded
{
	font-size: 12px;
	font-family: Tahoma, Arial, Verdana, Sans-Serif;
	font-weight: bold;
	color : #F7941D;
}

table .navClear
{
	width: 488px;
	height: 74px;
}

.Labels
{
	font-size: 9px;
	font-family:  Tahoma, Verdana, Sans-Serif;
	font-weight: bold;
}

.LabelsBig
{
	font-size: 11px;
	font-family:  Tahoma, Arial, Verdana, Sans-Serif;
	font-weight: bold;
}
.HeaderLabels
{
	font-size: 22px;
	font-family:  Verdana, Tahoma, Arial, Sans-Serif;
	font-weight: bold;
}
.HeaderLabelsBrown
{
	font-size: 22px;
	font-family:  Verdana, Tahoma, Arial, Sans-Serif;
	font-weight: bold;
	color : #F7941D;
	text-decoration : underline;
}

.BrownTextBig
{
	font-family: Tahoma, Arial, Verdana, Sans-Serif;
	font-size: 11px;
	font-weight:normal;
	color : #F7941D;
}

table .navStruct
{
	width: 488px;
	height: 42px;
	background-color: #717272;
}

table .navStruct table .divider
{
	width: 2px;
	height: 42px;
	background-image: url(../images/divider.png);
}

table .navStruct table .navSect
{
	width: 96px;
	height: 42px;
}

table .navStruct table .navSect .navHover
{
	width: 96px;
	height: 24px;
	background-color: #2c2d2d;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	border: solid 0px #fff;
}

table .navStruct table .navSect .navHover:hover
{
	width: 96px;
	height: 24px;
	background-color: #717272;
	cursor: pointer;
	color: #fff;
	font-size: 12px;
	border-top: solid 1px #2c2d2d;
	border-bottom: solid 1px #2c2d2d;
	border-left: solid 0px #2c2d2d;
	border-right: solid 0px #2c2d2d;
	text-align: center;
	font-weight: bold;
}

.ErrorText
{
font-family: Arial, Verdana, Sans-Serif;
font-size: 13px;
font-weight:normal;
color:Red;
}

.busin
{
	width: 635px;
	height: 109px;
	background-image: url(../images/img.png);
	background-repeat: no-repeat;
}

.watermarked {
	height:20px;
	width:150px;
	padding:2px 0 0 2px;
	border:1px solid #BEBEBE;
	background-color:#F0F8FF;
	color:gray;
}	

.slip
{
	width: 635px;
	height: 1px;
	background-color: #6d6a6a;
}

.contentSection
{
	width: 635px;
	padding: 10px;
	font-size: 12px;
	background-color: #2c2d2d;
}

.basicButton
{
	width: 96px;
	height: 24px;
	background-color: #2c2d2d;
	color: #fff;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	border-bottom: solid 1px #6d6a6a;
	border-top: solid 1px #6d6a6a;
	border-left: solid 1px #6d6a6a;
	border-right: solid 1px #6d6a6a;
}

.basicButton:hover
{
	width: 96px;
	height: 24px;
	background-color: #2c2d2d;
	color: #fff;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	border-bottom: dashed 1px #6d6a6a;
	border-top: dashed 1px #6d6a6a;
	border-left: dashed 1px #6d6a6a;
	border-right: dashed 1px #6d6a6a;
	cursor: pointer;
}

.basicButtonShaded
{
	width: 96px;
	height: 24px;
	background-color: #2c2d2d;
	color: #fff;
	background-color : #F7941D;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	border-bottom: solid 1px #6d6a6a;
	border-top: solid 1px #6d6a6a;
	border-left: solid 1px #6d6a6a;
	border-right: solid 1px #6d6a6a;
}

.basicButtonShadedBig
{
	width: 96px;
	height: 24px;
	background-color: #2c2d2d;
	color: #fff;
	background-color : #F7941D;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	border-bottom: solid 1px #6d6a6a;
	border-top: solid 1px #6d6a6a;
	border-left: solid 1px #6d6a6a;
	border-right: solid 1px #6d6a6a;
}

.greenButton
{
	width: 96px;
	height: 24px;
	background-color: #00C000;
	color: #fff;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	border-bottom: solid 1px #6d6a6a;
	border-top: solid 1px #6d6a6a;
	border-left: solid 1px #6d6a6a;
	border-right: solid 1px #6d6a6a;
}

.Shade
{
	background-color : #F7941D;
}

.ShadeGey
{
	background-color : #717272;
}

.BrownText
{
	color : #F7941D;
}

.GreyText
{
	color :#2c2d2d;
}

.WhiteText
{
	color : White;
}

.PlaceHolder
{
	color : #F7941D;
	font-size : xx-large;
	font-family: Tahoma, Arial, Verdana, Sans-Serif;
	font-weight: bold;
}

.basicButtonShaded:hover
{
	width: 96px;
	height: 24px;
	background-color: #F7941D;
	color: #fff;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	border-bottom: dashed 1px #6d6a6a;
	border-top: dashed 1px #6d6a6a;
	border-left: dashed 1px #6d6a6a;
	border-right: dashed 1px #6d6a6a;
	cursor: pointer;
}

.hyperlinks
{
	width: 96px;
	height: 24px;
	color: #fff;
	font-size: 9px;
	font-weight: bold;
	text-align: center;
	border-bottom: solid 0px #6d6a6a;
	border-top: solid 0px #6d6a6a;
	border-left: solid 0px #6d6a6a;
	border-right: solid 0px #6d6a6a;
}

.hyperlinks:hover
{
	width: 96px;
	height: 24px;
	color: #fff;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	border-bottom: dashed 0px #6d6a6a;
	border-top: dashed 0px #6d6a6a;
	border-left: dashed 0px #6d6a6a;
	border-right: dashed 0px #6d6a6a;
	cursor: pointer;
}

.basicButtonHyperLink
{
	width: 96px;
	height: 24px;
	background-color: #2c2d2d;
	color: #fff;
	font-size: 9px;
	font-weight: bold;
	text-align: center;
	border-bottom: solid 0px #000;
	border-top: solid 0px #000;
	border-left: solid 0px #000;
	border-right: solid 0px #000;
}

.GridContent
{
	width: 96px;
	height: 24px;
	color: #fff;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	border-bottom: solid 0px #000;
	border-top: solid 0px #000;
	border-left: solid 0px #000;
	border-right: solid 0px #000;
}

.basicButtonHyperLink:hover
{
	width: 96px;
	height: 24px;
	background-color: #2c2d2d;
	color: #fff;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	border-bottom: solid 0px #000;
	border-top: solid 0px #000;
	border-left: solid 0px #000;
	border-right: solid 0px #000;
}

.pnlBorder
{
	width: 96px;
	height: 24px;
	background-color: #2c2d2d;
	color: #fff;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	border-bottom: solid 1px #6d6a6a;
	border-top: solid 1px #6d6a6a;
	border-left: solid 1px #6d6a6a;
	border-right: solid 1px #6d6a6a;
}

.searchBorder
{
	border-bottom: solid 1px #6d6a6a;
	border-top: solid 1px #6d6a6a;
	border-left: solid 1px #6d6a6a;
	border-right: solid 1px #6d6a6a;
}

.PageHeader
{
	font-size: 16px;
	font-family: Arial, Verdana, Sans-Serif;
	color: #F7941D;
	font-weight: bold;
	text-decoration: underline;
}

.PageHeaderSmaller
{
	font-size: 16px;
	font-family: Arial, Verdana, Sans-Serif;
	color: #F7941D;
	font-weight: bold;	
}
.MyCalendar .ajax__calendar_container {
    border:1px solid #646464;
    background-color: #F7941D;
    color: black;
}
.MyCalendar .ajax__calendar_other .ajax__calendar_day,
.MyCalendar .ajax__calendar_other .ajax__calendar_year {
    color: black;
}
.MyCalendar .ajax__calendar_hover .ajax__calendar_day,
.MyCalendar .ajax__calendar_hover .ajax__calendar_month,
.MyCalendar .ajax__calendar_hover .ajax__calendar_year {
    color: black;
}
.MyCalendar .ajax__calendar_active .ajax__calendar_day,
.MyCalendar .ajax__calendar_active .ajax__calendar_month,
.MyCalendar .ajax__calendar_active .ajax__calendar_year {
    color: black;
    font-weight:bold;
}