<?xml version="1.0" encoding="utf-8"?>
<commentsModuleConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.0.6010.0" useSpamProtectionImage="True">
	<CommentableTypes>
		<commentableType AllowComments="False" ItemType="Telerik.Sitefinity.Pages.Model.PageNode" config:flags="1" />
		<commentableType AllowComments="False" RequiresAuthentication="True" ItemType="Telerik.Sitefinity.News.Model.NewsItem" config:flags="1" />
		<commentableType RequiresAuthentication="True" ItemType="Telerik.Sitefinity.Blogs.Model.BlogPost" config:flags="1" />
		<commentableType RequiresAuthentication="True" ItemType="Telerik.Sitefinity.Events.Model.Event" config:flags="1" />
		<commentableType AllowComments="False" ItemType="Telerik.Sitefinity.Libraries.Model.Image" config:flags="1" />
		<commentableType AllowComments="False" ItemType="Telerik.Sitefinity.Libraries.Model.Video" config:flags="1" />
		<commentableType AllowComments="False" ItemType="Telerik.Sitefinity.Libraries.Model.Document" config:flags="1" />
		<commentableType AllowComments="False" ItemType="Telerik.Sitefinity.Lists.Model.ListItem" config:flags="1" />
	</CommentableTypes>
</commentsModuleConfig>