<?xml version="1.0" encoding="utf-8"?>
<view xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.0.6010.0" viewName="PartnerBackendVersionPreview" config:flags="1">
	<sections>
		<sections name="MainSection" config:flags="1">
			<fields>
				<field allowCreating="False" fieldName="skills" config:flags="1" />
				<field allowCreating="False" fieldName="regions" config:flags="1" />
			</fields>
		</sections>
	</sections>
</view>