<?xml version="1.0" encoding="utf-8"?>
<view xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.0.6010.0" viewName="TestimonialBackendPreviewView" config:flags="1">
	<sections>
		<sections name="MoreOptions" config:flags="1">
			<fields>
				<field fieldType="Telerik.Sitefinity.Web.UI.Fields.MirrorTextField, Telerik.Sitefinity" fieldName="UrlName" config:flags="1" />
			</fields>
		</sections>
	</sections>
</view>