<?xml version="1.0" encoding="utf-8"?>
<dynamicModulesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.0.6010.0">
	<contentViewControls>
		<contentViewControl definitionName="Telerik.Sitefinity.DynamicTypes.Model.FirewaterModules.CategoryBackendDefinition" config:flags="1">
			<views>
				<config:lazy key="CategoryBackendList" configFile="DynamicModulesConfig.FrwtrMdles.Category_tgryBckndLst.config" />
				<config:lazy key="CategoryBackendInsertView" configFile="DynamicModulesConfig.FrwtrMdles.Category_BckndInsrtVw.config" />
				<config:lazy key="CategoryBackendPreviewView" configFile="DynamicModulesConfig.FrwtrMdles.Category_yBckndPrvwVw.config" />
				<config:lazy key="CategoryBackendEditView" configFile="DynamicModulesConfig.FrwtrMdles.Category_ryBckndEdtVw.config" />
				<config:lazy key="CategoryBackendVersionPreview" configFile="DynamicModulesConfig.FrwtrMdles.Category_ckndVrsnPrvw.config" />
			</views>
		</contentViewControl>
		<contentViewControl definitionName="Telerik.Sitefinity.DynamicTypes.Model.FirewaterModules.ProductBackendDefinition" config:flags="1">
			<views>
				<config:lazy key="ProductBackendList" configFile="DynamicModulesConfig.FrwtrMdles.Product_rdctBckndLst.config" />
				<config:lazy key="ProductBackendInsertView" configFile="DynamicModulesConfig.FrwtrMdles.Product_BckndInsrtVw.config" />
				<config:lazy key="ProductBackendPreviewView" configFile="DynamicModulesConfig.FrwtrMdles.Product_tBckndPrvwVw.config" />
				<config:lazy key="ProductBackendEditView" configFile="DynamicModulesConfig.FrwtrMdles.Product_ctBckndEdtVw.config" />
				<config:lazy key="ProductBackendVersionPreview" configFile="DynamicModulesConfig.FrwtrMdles.Product_ckndVrsnPrvw.config" />
			</views>
		</contentViewControl>
		<contentViewControl definitionName="Telerik.Sitefinity.DynamicTypes.Model.FirewaterModules.BannerBackendDefinition" config:flags="1">
			<views>
				<config:lazy key="BannerBackendList" configFile="DynamicModulesConfig.FrwtrMdles.Banner_BnnrBckndLst.config" />
				<config:lazy key="BannerBackendInsertView" configFile="DynamicModulesConfig.FrwtrMdles.Banner_BckndInsrtVw.config" />
				<config:lazy key="BannerBackendEditView" configFile="DynamicModulesConfig.FrwtrMdles.Banner_nrBckndEdtVw.config" />
			</views>
		</contentViewControl>
		<contentViewControl definitionName="Telerik.Sitefinity.DynamicTypes.Model.FirewaterModules.TestimonialBackendDefinition" config:flags="1">
			<views>
				<config:lazy key="TestimonialBackendList" configFile="DynamicModulesConfig.FrwtrMdles.Tstmnial_tmnlBckndLst.config" />
				<config:lazy key="TestimonialBackendInsertView" configFile="DynamicModulesConfig.FrwtrMdles.Tstmnial_BckndInsrtVw.config" />
				<config:lazy key="TestimonialBackendEditView" configFile="DynamicModulesConfig.FrwtrMdles.Tstmnial_nlBckndEdtVw.config" />
			</views>
		</contentViewControl>
		<contentViewControl definitionName="Telerik.Sitefinity.DynamicTypes.Model.FirewaterModules.MapCountryBackendDefinition" config:flags="1">
			<views>
				<config:lazy key="Map CountryBackendList" configFile="DynamicModulesConfig.FrwtrMdles.MpCuntry_ntryBckndLst.config" />
				<config:lazy key="Map CountryBackendInsertView" configFile="DynamicModulesConfig.FrwtrMdles.MpCuntry_BckndInsrtVw.config" />
				<config:lazy key="Map CountryBackendEditView" configFile="DynamicModulesConfig.FrwtrMdles.MpCuntry_ryBckndEdtVw.config" />
			</views>
		</contentViewControl>
		<contentViewControl definitionName="Telerik.Sitefinity.DynamicTypes.Model.FirewaterModules.AddressBackendDefinition" config:flags="1">
			<views>
				<config:lazy key="AddressBackendList" configFile="DynamicModulesConfig.FrwtrMdles.Address_drssBckndLst.config" />
				<config:lazy key="AddressBackendInsertView" configFile="DynamicModulesConfig.FrwtrMdles.Address_BckndInsrtVw.config" />
				<config:lazy key="AddressBackendEditView" configFile="DynamicModulesConfig.FrwtrMdles.Address_ssBckndEdtVw.config" />
			</views>
		</contentViewControl>
		<contentViewControl definitionName="Telerik.Sitefinity.DynamicTypes.Model.FirewaterModules.PopupScreenBackendDefinition" config:flags="1">
			<views>
				<config:lazy key="NotesBackendList" configFile="DynamicModulesConfig.FrwtrMdles.PppScren_NotsBckndLst.config" />
				<config:lazy key="NotesBackendInsertView" configFile="DynamicModulesConfig.FrwtrMdles.PppScren_BckndInsrtVw.config" />
				<config:lazy key="NotesBackendEditView" configFile="DynamicModulesConfig.FrwtrMdles.PppScren_tsBckndEdtVw.config" />
			</views>
		</contentViewControl>
		<contentViewControl definitionName="Telerik.Sitefinity.DynamicTypes.Model.FirewaterModules.HpPopupBannerBackendDefinition" config:flags="1">
			<views>
				<config:lazy key="HP Popup BannerBackendList" configFile="DynamicModulesConfig.FrwtrMdles.HpPppBnn_BnnrBckndLst.config" />
				<config:lazy key="HP Popup BannerBackendInsertView" configFile="DynamicModulesConfig.FrwtrMdles.HpPppBnn_BckndInsrtVw.config" />
				<config:lazy key="HP Popup BannerBackendEditView" configFile="DynamicModulesConfig.FrwtrMdles.HpPppBnn_nrBckndEdtVw.config" />
			</views>
		</contentViewControl>
		<contentViewControl definitionName="Telerik.Sitefinity.DynamicTypes.Model.FirewaterModules.TrainingCertificateBackendDefinition" config:flags="1">
			<views>
				<config:lazy key="Training certificateBackendList" configFile="DynamicModulesConfig.FrwtrMdles.TrnngCrt_tfctBckndLst.config" />
				<config:lazy key="Training certificateBackendInsertView" configFile="DynamicModulesConfig.FrwtrMdles.TrnngCrt_BckndInsrtVw.config" />
				<config:lazy key="Training certificateBackendEditView" configFile="DynamicModulesConfig.FrwtrMdles.TrnngCrt_ctBckndEdtVw.config" />
			</views>
		</contentViewControl>
		<contentViewControl definitionName="Telerik.Sitefinity.DynamicTypes.Model.FirewaterModules.PeopleBackendDefinition" config:flags="1">
			<views>
				<config:lazy key="People DepricatedBackendList" configFile="DynamicModulesConfig.FrwtrMdles.People_rctdBckndLst.config" />
				<config:lazy key="PeopleBackendList" configFile="DynamicModulesConfig.FrwtrMdles.People_PeplBckndLst.config" />
				<config:lazy key="PeopleBackendInsertView" configFile="DynamicModulesConfig.FrwtrMdles.People_BckndInsrtVw.config" />
				<config:lazy key="PeopleBackendEditView" configFile="DynamicModulesConfig.FrwtrMdles.People_plBckndEdtVw.config" />
			</views>
		</contentViewControl>
		<contentViewControl definitionName="Telerik.Sitefinity.DynamicTypes.Model.FirewaterModules.PartnerBackendDefinition" config:flags="1">
			<views>
				<config:lazy key="PartnerBackendList" configFile="DynamicModulesConfig.FrwtrMdles.Partner_rtnrBckndLst.config" />
				<config:lazy key="PartnerBackendInsertView" configFile="DynamicModulesConfig.FrwtrMdles.Partner_BckndInsrtVw.config" />
				<config:lazy key="PartnerBackendPreviewView" configFile="DynamicModulesConfig.FrwtrMdles.Partner_rBckndPrvwVw.config" />
				<config:lazy key="PartnerBackendEditView" configFile="DynamicModulesConfig.FrwtrMdles.Partner_nrBckndEdtVw.config" />
				<config:lazy key="PartnerBackendVersionPreview" configFile="DynamicModulesConfig.FrwtrMdles.Partner_ckndVrsnPrvw.config" />
			</views>
		</contentViewControl>
		<contentViewControl definitionName="Telerik.Sitefinity.DynamicTypes.Model.FirewaterModules.PeopleV2BackendDefinition" config:flags="1">
			<views>
				<config:lazy key="PeopleBackendList" configFile="DynamicModulesConfig.FrwtrMdles.PeopleV2_PeplBckndLst.config" />
			</views>
		</contentViewControl>
	</contentViewControls>
</dynamicModulesConfig>