<?xml version="1.0" encoding="utf-8"?>
<view xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.0.6010.0" title="Firewater Modules" viewName="Training certificateBackendList" config:flags="1">
	<dialogs>
		<remove id="ModulePermissionsDialog on permissions" />
		<add name="ModulePermissionsDialog" openOnCommand="permissions" height="100%" width="100%" initialBehaviors="Maximize" behaviors="None" autoSizeBehaviors="Default" isfullscreen="False" visiblestatusbar="False" visibletitlebar="False" params="?moduleName=Firewater Modules&amp;typeName=Telerik.Sitefinity.DynamicModules.Builder.Model.DynamicModuleType&amp;securedObjectId=b72453a4-75a4-62bd-81a2-ff00002f4c9e&amp;backLabelText=Back to items&amp;title=Permissions&amp;permissionSetName=General,SitemapGeneration" ismodal="False" destroyOnClose="False" ReloadOnShow="False" cssclass="sfMaximizedWindow" id="ModulePermissionsDialog on permissions" />
	</dialogs>
	<viewModes>
		<add Name="Grid" config:flags="1">
			<columns>
				<add name="Actions" config:flags="1">
					<menuItems>
						<menuItem resourceclassid="ModuleBuilderResources" name="Permissions" config:flags="1" />
					</menuItems>
				</add>
			</columns>
		</add>
	</viewModes>
	<sidebar>
		<sections>
			<section cssClass="sfWidgetsList sfSettings" name="Settings" config:flags="1" />
			<section name="recycleBinWidget" config:flags="1">
				<items>
					<item navigateUrl="~/Sitefinity/dashboard/RecycleBin/RecycleBin#/filter/type/Telerik.Sitefinity.DynamicTypes.Model.FirewaterModules.TrainingCertificate" name="ExternalLink2" config:flags="1" />
				</items>
			</section>
		</sections>
	</sidebar>
</view>