<?xml version="1.0" encoding="utf-8"?>
<formsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="6.1.4300.0">
	<notifications formEntrySubmittedNotificationTemplateId="318951a4-75a4-62bd-81a2-ff00002f4c9e" />
</formsConfig>