<?xml version="1.0" encoding="utf-8"?>
<forumsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.0.6010.0">
	<notifications newPostNotificationTemplateId="498951a4-75a4-62bd-81a2-ff00002f4c9e" newThreadNotificationTemplateId="4a8951a4-75a4-62bd-81a2-ff00002f4c9e" />
</forumsConfig>