<?xml version="1.0" encoding="utf-8"?>
<sitemapConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.0.6010.0">
	<siteConfigs>
		<add isEnabled="True" urlLimit="50000" compress="True" condition="Manual" siteName="default" dayToStart="1" timeToStart="00:00" pingGoogle="True" pingBing="True" siteId="ac353e78-1380-4971-93d7-72973f4d0127" />
	</siteConfigs>
</sitemapConfig>